.weatherWidget
{
    background-color: darkgray;
    min-width: 300px;
    width: 300px;
    text-align: center;
}

body
{
    font-family: Verdana;
}


#mainWeather
{
    padding: 20px 10px 20px 20px ;
    font-size: 100px;
    font-family: 'Barlow Condensed', sans-serif;
    /*background-color: darkgoldenrod;*/
    margin-top: -30px;
}

.weatherIcon
{
    /*background-color: chocolate;*/
    width: 80%;
    margin-top: -100px;
    text-align: center;
}

.mainWeather sup
{
    margin-left: -20px;
    font-size: 70%;
    /*background-color: aqua!* units *!*/
}

div sup
{
    position: relative;
}
sup span
{
    position: absolute;
    top:10px;
    left:10px;
    margin-top:10px;
    font-size: 30px;
}

#locationText
{
    font-size: 20px;
    margin: 0px 0px 0px 0px ;
    padding: 10px 0px 0px 0px ;
    /*background-color: bisque;*/
}

.weatherDesc
{
    padding: 0px 20px 20px 20px;
}